#footer{
    height: 88.9vh;
    background-color: var(--footer-color);
}
#footer main section{
    /* border: 2px solid red; */
    width: 73%;
    height: 100%;
    margin: auto;
}
#footer main:first-child section{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}
#footer main:first-child{
    height: 88%;
    padding-top: 55px;
}
#footer main:last-child{
    height: 9%;
    border-top: 1px solid #222f44;
    color: #546477;
}
#footer main:last-child h5{
    font-weight: 400;
    margin-top: 13px;
    font-size: 16px;
}
#footer main ol li img{
    height: 48px;
}
#footer ol{
    list-style: none;
    color: #8f9aab;
    width: 15%;
}
#footer ol:nth-of-type(3){
    width: 10%;
    margin-left: 25px;
    margin-right: 20px;
}
#footer ol li{
    color: #546477;
    margin-bottom: 23px;
}
#footer main ol li a{
    text-decoration: none;
    color: #8f9aab;
    cursor: pointer;
}
#footer main section ol:first-child{
    width: 16%;
}
#footer ol:nth-of-type(4) li:last-child{
    color: #8f9aab;
    line-height: 1.6em;
}
#footer ol:last-of-type{
    margin-left: 95px;
    width: 31.5%;
}
#footer ol:last-of-type li:nth-child(2){
    display: flex;
}
#footer ol:last-of-type li:nth-child(2) div{
    display: flex;
    align-items: center;
    background-color: var(--white-font);
    color: var(--black-font);
    height: 47px;
    width: 200px;
}
#footer ol:last-of-type li:nth-child(2) div:first-child{
    margin-right: 25px;
}
#footer ol:last-of-type li:nth-child(2) div:last-child aside:first-child{
    margin-right: 10px;
}
#footer ol:last-of-type li:nth-child(2) div:first-child aside:first-child{
    margin-right: 2px;
}
#footer ol:last-of-type li:nth-child(2) div{
    border-radius: 5px;
    cursor: pointer;
}
#footer ol:last-of-type li:nth-child(2) div:first-child i{
    font-size: 30px;
    padding-left: 6px;
}
#footer ol:last-of-type li:nth-child(2) div:last-child i{
    font-size: 35px;
}
#footer ol:last-of-type li:nth-child(2) div h6{
    font-weight: 500;
}
#footer ol:last-of-type li:nth-child(2) div h4{
    font-size: 22px;
    font-weight: 500;
}
#footer ol li ul{
    list-style: none;
    display: inline-flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
#footer ol li ul li i{
    font-size: 25px;
    cursor: pointer;
}
#footer ol li ul li:first-child i{
    font-size: 20px;
}