#main4{
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8fafb;
}
#main4>section>h1{
    font-size: 36px;
    font-weight: 700;
}
#main4 section{
    height: 76%;
    width: 63.7%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#main4 section main{
    display: flex;
    /* vertical-align: middle; */
    overflow-x: scroll !important;
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 30px;
    height: 85%;
    align-items: end;
}
#main4 section main div{
    /* position: relative; */
    /* border: 2px solid yellow; */
    min-width: 350px;
    height: 585px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 300ms;
}
#main4 section main div:hover{
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
#main4 section main div img{
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#main4 main div h1{
    font-size: 20px;
    font-weight: 700;
    padding: 12px 15px;
}
#main4 main div h5{
    padding: 0px 15px;
    font-weight: 500;
    color: #717273;
}
#main4 main div h3{
    font-weight: 400;
    padding: 12px 15px;
    font-size: 16px;
    line-height: 25px;
}