#main3 {
  height: 120vh;
  background-color: var(--main3-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
#main3 main {
  width: 72.5%;
  /* border: 2px solid green; */
  height: 90%;
}
#main3 main ol {
  list-style: none;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}
#main3 main ol li {
  margin-right: 97px;
  cursor: pointer;
  color: #67696c;
  transition: all 400ms;
}
#main3 main ol li:hover{
    color: var(--black-font);
}
#main3 ol li:first-child{
    color: var(--black-font);
}
#main3 main h4 {
  margin-top: 50px;
  font-weight: 400;
  color: #18191a;
}
#main3 button {
  font-size: 17px;
  padding: 15px 40px;
  background-color: var(--blue-color);
  border: none;
  cursor: pointer;
  transition: all 600ms;
  margin-top: 32px;
}
#main3 button:hover {
  background-color: #071228;
  color: var(--white-font);
}
#main3 h1{
    color: var(--white-font);
    font-size: 200px;
    text-align: center;
}
#main3 main img{
    position: relative;
    bottom: 400px;
    left: 450px;
}
